#### Requirement 1: Create Database and Tables

In [2]:
import sqlite3  # Importing the sqlite3 module to interact with SQLite databases

# Connect to SQLite database
# Creates a new database file named "Bookstore.db" if it doesn't exist,
# or connects to the existing database file.
conn = sqlite3.connect("Bookstore.db")

# Create a cursor object
# The cursor is used to execute SQL commands and interact with the database.
cursor = conn.cursor()

In [4]:
# Create the "Authors" table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Authors (
    AuthorID INTEGER PRIMARY KEY AUTOINCREMENT,  -- Unique identifier for each author, automatically incremented
    Name TEXT NOT NULL                           -- Author's name, cannot be null
);
""")

# Create the "Books" table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Books (
    BookID INTEGER PRIMARY KEY AUTOINCREMENT,    -- Unique identifier for each book, automatically incremented
    Title TEXT NOT NULL,                         -- Book title, cannot be null
    AuthorID INTEGER NOT NULL,                   -- Foreign key referencing the author's ID, cannot be null
    Price REAL NOT NULL,                         -- Price of the book, must be a numeric value and cannot be null
    FOREIGN KEY (AuthorID) REFERENCES Authors (AuthorID)  -- Establishes a relationship between Books and Authors
);
""")

# Create the "Sales" table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Sales (
    SaleID INTEGER PRIMARY KEY AUTOINCREMENT,    -- Unique identifier for each sale, automatically incremented
    BookID INTEGER NOT NULL,                     -- Foreign key referencing the book's ID, cannot be null
    Quantity INTEGER NOT NULL,                   -- Number of books sold, cannot be null
    SaleDate TEXT NOT NULL,                      -- Date of the sale, stored as text (e.g., "YYYY-MM-DD")
    FOREIGN KEY (BookID) REFERENCES Books (BookID)  -- Establishes a relationship between Sales and Books
);
""")

#### Requirement 2: Insert Sample Data

In [5]:
def check_missing_values(data, keys):
    """
    Checks for missing values in a list of data rows and identifies which rows and columns have issues.

    """
    missing = []  # Initialize an empty list to store information about missing values
    for i, row in enumerate(data, start=1):  # Iterate over each row in the data with a 1-based index
        for key in keys:  # Iterate over the column names (keys)
            # Check if the value in the current column is None, an empty string, or a blank space
            if row[keys.index(key)] in (None, "", " "):
                # Append a formatted string to the missing list indicating the row and missing column
                missing.append(f"Row {i}: Missing {key}")
    return missing  # Return the list of missing value descriptions

In [6]:
# Insert Authors
authors = [
    ("James Clear"),          # Author of Atomic Habits
    ("J.K. Rowling"),         # Author of Harry Potter
    ("Charles Dickens"),      # Author of multiple classics
    ("Anonymous"),            # Placeholder for another book
    ("Mark Twain")            # Author of Adventures of Huckleberry Finn
]

# Check for missing values in authors
missing_authors = check_missing_values(authors, ["Name"])  # Check if any author names are missing
if missing_authors:
    print("Missing values in Authors:")  # Notify about missing values in the authors dataset
    for error in missing_authors:
        print(error)  # Print details of the missing values
else:
    # Insert author data into the Authors table
    # List comprehension converts each author name into a tuple structure suitable for insertion
    cursor.executemany("INSERT INTO Authors (Name) VALUES (?)", [(author,) for author in authors])
    print("Authors successfully inserted.")  # Confirm successful insertion

print('\n----------------------------------------------------------------\n')  # Separator for clarity in output

# Insert Books
books = [
    ("Atomic Habits", 1, 15.99),                         # Book by James Clear
    ("Harry Potter and the Sorcerer's Stone", 2, 20.99), # Book by J.K. Rowling
    ("A Tale of Two Cities", 3, 10.50),                  # Book by Charles Dickens
    ("Oliver Twist", 3, 8.99),                           # Another book by Charles Dickens
    ("The Great Gatsby", 4, 12.75),                      # Book by Anonymous
    ("Harry Potter and the Chamber of Secrets", 2, 22.49), # Another book by J.K. Rowling
    ("David Copperfield", 3, 18.30),                     # Book by Charles Dickens
    ("Great Expectations", 3, 9.80),                     # Another book by Charles Dickens
    ("Hard Times", 3, 17.60),                            # Another book by Charles Dickens
    ("The Catcher in the Rye", 4, 13.40),                # Book by Anonymous
    ("Adventures of Huckleberry Finn", 5, 14.50),        # Book by Mark Twain
    ("The Adventures of Tom Sawyer", 5, 13.20)           # Another book by Mark Twain
]

# Check for missing values in books
missing_books = check_missing_values(books, ["Title", "AuthorID", "Price"])  # Check for missing data in books
if missing_books:
    print("Missing values in Books:")  # Notify about missing values in the books dataset
    for error in missing_books:
        print(error)  # Print details of the missing values
else:
    # Insert book data into the Books table
    cursor.executemany("INSERT INTO Books (Title, AuthorID, Price) VALUES (?, ?, ?)", books)
    print("Books successfully inserted.")  # Confirm successful insertion

print('\n----------------------------------------------------------------\n')  # Separator for clarity in output

# Insert Sales
sales = [
    (1, 5, "2025-01-01"),  # 5 copies of book with BookID 1 sold on 2025-01-01
    (2, 3, "2025-01-02"),  # 3 copies of book with BookID 2 sold on 2025-01-02
    (3, 8, "2025-01-03"),  # 8 copies of book with BookID 3 sold on 2025-01-03
    (4, 2, "2025-01-04"),  # 2 copies of book with BookID 4 sold on 2025-01-04
    (5, 6, "2025-01-05"),  # 6 copies of book with BookID 5 sold on 2025-01-05
    (6, 7, "2025-01-06"),  # 7 copies of book with BookID 6 sold on 2025-01-06
    (7, 1, "2025-01-07"),  # 1 copy of book with BookID 7 sold on 2025-01-07
    (8, 4, "2025-01-08"),  # 4 copies of book with BookID 8 sold on 2025-01-08
    (9, 3, "2025-01-09"),  # 3 copies of book with BookID 9 sold on 2025-01-09
    (10, 2, "2025-01-10"), # 2 copies of book with BookID 10 sold on 2025-01-10
    (11, 5, "2025-01-11"), # 5 copies of book with BookID 11 sold on 2025-01-11
    (12, 4, "2025-01-12")  # 4 copies of book with BookID 12 sold on 2025-01-12
]

# Check for missing values in sales
missing_sales = check_missing_values(sales, ["BookID", "Quantity", "SaleDate"])  # Check for missing data in sales
if missing_sales:
    print("Missing values in Sales:")  # Notify about missing values in the sales dataset
    for error in missing_sales:
        print(error)  # Print details of the missing values
else:
    # Insert sales data into the Sales table
    cursor.executemany("INSERT INTO Sales (BookID, Quantity, SaleDate) VALUES (?, ?, ?)", sales)
    print("Sales successfully inserted.")  # Confirm successful insertion

print('\n----------------------------------------------------------------\n')  # Separator for clarity in output

# Commit changes
conn.commit()  # Save all changes to the database to ensure data is permanently stored
print("All changes committed to the database.")  # Confirm changes have been committed

Authors successfully inserted.

----------------------------------------------------------------

Books successfully inserted.

----------------------------------------------------------------

Sales successfully inserted.

----------------------------------------------------------------

All changes committed to the database.

#### Requirement 3: Query and Use SQL Joins

In [7]:
# Query 1: Retrieve all books and their authors
# The SQL query selects book titles from the "Books" table and author names from the "Authors" table.
# It joins the two tables based on the foreign key relationship between Books.AuthorID and Authors.AuthorID.
cursor.execute("""
SELECT Books.Title, Authors.Name 
FROM Books 
JOIN Authors ON Books.AuthorID = Authors.AuthorID;
""")

# Fetch all rows resulting from the query execution.
books_and_authors = cursor.fetchall()

# Iterate through the retrieved rows and print each book title along with its author's name.
for book, authors in books_and_authors:
    print(f"{book}: {authors} ")

Atomic Habits: James Clear
Harry Potter and the Sorcerer's Stone: J.K. Rowling
A Tale of Two Cities: Charles Dickens
Oliver Twist: Charles Dickens
The Great Gatsby: Anonymous
Harry Potter and the Chamber of Secrets: J.K. Rowling
David Copperfield: Charles Dickens
Great Expectations: Charles Dickens
Hard Times: Charles Dickens
The Catcher in the Rye: Anonymous
Adventures of Huckleberry Finn: Mark Twain
The Adventures of Tom Sawyer: Mark Twain

In [8]:
# Query 2: Find total sales per book (Quantity * Price)
# The SQL query calculates the total sales for each book by multiplying the quantity sold (from the "Sales" table)
# by the book's price (from the "Books" table). It groups the results by each book's ID.
cursor.execute("""
SELECT Books.Title, SUM(Sales.Quantity * Books.Price) AS TotalSales 
FROM Sales 
JOIN Books ON Sales.BookID = Books.BookID 
GROUP BY Books.BookID;
""")

# Fetch all rows resulting from the query execution.
total_sales = cursor.fetchall()

# Iterate through the retrieved rows and print the total sales for each book.
# The formatting ensures that the total sales amount is displayed with two decimal places.
for book_name, total_sales_amount in total_sales:
    print(f"Book: {book_name}, Total Sales: ${total_sales_amount:.2f}")

Book: Atomic Habits, Total Sales: $79.95
Book: Harry Potter and the Sorcerer's Stone, Total Sales: $62.97
Book: A Tale of Two Cities, Total Sales: $84.00
Book: Oliver Twist, Total Sales: $17.98
Book: The Great Gatsby, Total Sales: $76.50
Book: Harry Potter and the Chamber of Secrets, Total Sales: $157.43
Book: David Copperfield, Total Sales: $18.30
Book: Great Expectations, Total Sales: $39.20
Book: Hard Times, Total Sales: $52.80
Book: The Catcher in the Rye, Total Sales: $26.80
Book: Adventures of Huckleberry Finn, Total Sales: $72.50
Book: The Adventures of Tom Sawyer, Total Sales: $52.80

In [9]:
# Query 3: Combine data from Books and Sales
# The SQL query retrieves the book title, price, quantity sold, and sale date by joining the "Books" table with the "Sales" table.
# It combines data from both tables based on the matching BookID to show relevant information about each book sale.
cursor.execute("""
SELECT Books.Title, Books.Price, Sales.Quantity, Sales.SaleDate 
FROM Books 
JOIN Sales ON Books.BookID = Sales.BookID;
""")

# Fetch all rows resulting from the query execution.
books_sales_data = cursor.fetchall()

# Loop through the results and print a descriptive message for each book sale.
# The formatted output includes book title, price (with 2 decimal places), quantity sold, and the sale date.
for title, price, quantity, sale_date in books_sales_data:
    print(f"Book: {title}, Price: ${price:.2f}, Quantity Sold: {quantity}, Sale Date: {sale_date}")

Book: Atomic Habits, Price: $15.99, Quantity Sold: 5, Sale Date: 2025-01-01
Book: Harry Potter and the Sorcerer's Stone, Price: $20.99, Quantity Sold: 3, Sale Date: 2025-01-02
Book: A Tale of Two Cities, Price: $10.50, Quantity Sold: 8, Sale Date: 2025-01-03
Book: Oliver Twist, Price: $8.99, Quantity Sold: 2, Sale Date: 2025-01-04
Book: The Great Gatsby, Price: $12.75, Quantity Sold: 6, Sale Date: 2025-01-05
Book: Harry Potter and the Chamber of Secrets, Price: $22.49, Quantity Sold: 7, Sale Date: 2025-01-06
Book: David Copperfield, Price: $18.30, Quantity Sold: 1, Sale Date: 2025-01-07
Book: Great Expectations, Price: $9.80, Quantity Sold: 4, Sale Date: 2025-01-08
Book: Hard Times, Price: $17.60, Quantity Sold: 3, Sale Date: 2025-01-09
Book: The Catcher in the Rye, Price: $13.40, Quantity Sold: 2, Sale Date: 2025-01-10
Book: Adventures of Huckleberry Finn, Price: $14.50, Quantity Sold: 5, Sale Date: 2025-01-11
Book: The Adventures of Tom Sawyer, Price: $13.20, Quantity Sold: 4, Sale Date: 2025-01-12

In [10]:
# Close connection
conn.close()